* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: white;
  overflow: hidden;
}

.left-scene, .right-scene {
  position: absolute;
  width: 50%;
  height: 100%;
}

.right-scene {
  left: 50%;
  background-color: #021825;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-pic {
  background-position: right 20% top 50%;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1503499746616-a6d202989535?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80");
}

.login-container {
  width: 70%;
  height: 80%;
  background-image: linear-gradient(to left top, #04142c, #0a2645, #0f3a5f, #114f7a, #0c6596);
  border-radius: 5px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, .6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {

  h1 {
    color: seashell;
  }
  p {
    margin-bottom: 40px;
    color: seashell;
  }
}

.container-login > h2 {
  background: -webkit-linear-gradient(to right top, #17a8f4, #128bca, #0e6fa2, #09547b, #063a57);
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.login-input > * {
  background-color: salmon;
  margin-top: 20px;
  padding: 0;
}